*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   outline: none;
   color: #FFF;
   font-size: 120px;
   font-family: 'Solitreo', cursive;
   background-color: transparent;
}

body{
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 100vh;
   background: linear-gradient(90deg, hsla(0, 0%, 37%, 1) 0%, hsla(59, 30%, 49%, 1) 100%);
}

.decrease:hover, .increase:hover{
   cursor: pointer;
   color: rgba(255, 255, 255, 0.8);
}